<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default: "Omar Almasry Portfolio" }}</title>
    <link href="/dist/output.css" rel="stylesheet">
  </head>
  <body>
    {% include "_includes/navbar.liquid" %}
    <main>
      {{ content }}
    </main>
    {% include "_includes/footer.liquid" %}
  </body>
  </html>