<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default: "Omar Almasry Portfolio" }}</title>
    <link href="/dist/output.css" rel="stylesheet">
  </head>
  <body>
    {% render 'navbar' %}
    <main>
      {{ content }}
    </main>
    {% render 'footer' %}
  <script src="/scripts/main.js" defer></script>
  </body>
  </html>