<div class="text-center">
  <h2 class="text-4xl font-bold mb-2">
    {{ include.header | default: "Default Header" }}
  </h2>
  <p class="text-2xl text-ebony mb-6">
    {{ include.subheader | default: "Default Subheader" }}
  </p>
</div>