@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
@font-face {
    font-family: Inter;
    src: url('/fonts/Inter.ttf');
}
html {
    @apply text-normal bg-normal;
  }
  html.dark {
    @apply text-inverted bg-inverted;
  }
  a {
    @apply font-medium underline decoration-primary decoration-2 transition duration-300 hover:text-primary hover:decoration-transparent dark:decoration-primaryInverted dark:hover:text-primaryInverted dark:hover:decoration-transparent;
  }
  h1 {
    @apply text-3xl sm:text-6xl font-extrabold mb-4;
  }

  h2 {
    @apply text-3xl sm:text-4xl font-bold mb-2;
  }

  h3 {
    @apply text-2xl lg:text-3xl font-semibold mb-1;
  }
  h2, h3 {
    scroll-margin-top: 80px; /* Adjust to your navbar's height */
  }
::selection {
  @apply bg-inverted text-inverted; /* Apply light mode colors */
}
.dark ::selection {
  @apply bg-normal text-normal; /* Apply dark mode colors */
}
a[aria-current=page] {
  @apply font-medium text-primary dark:text-primaryInverted;
}
 }
 .toc ul a {
  @apply text-normal font-medium decoration-2 decoration-primary hover:decoration-transparent dark:decoration-primaryInverted dark:text-inverted;
 }

/* Remove Bullet Points */
.toc ul {
  list-style: none;
  @apply pl-0;
}

@layer components {
/* Custom Component Styles */
.standard-card {
    @apply border border-normal rounded-md flex flex-col justify-start items-start h-full p-6 no-underline transition-all shadow-low w-full dark:shadow-lowInverted relative dark:border-inverted;
}
.prose {
    @apply prose-h2:text-4xl prose-h2:mb-4 prose-h3:text-2xl prose-h3:font-medium prose-h3:text-normalLight prose-h3:mb-1 prose-h3:mt-6 lg:prose-lg md:prose-base max-w-full dark:prose-inverted dark:prose-h3:text-invertedLight;
  }
 }