---
layout: "/layouts/layout.liquid"
---
<header class="pt-16 pb-8 px-[5%] mx-auto">
  <div class="container mx-auto">
    <div class="max-w-4xl mx-auto text-left">
      <h1>{{ title }}</h1>

      {% if description %}
        <p class="text-xl lg:text-2xl text-normalLight dark:text-invertedLight max-w-3xl">
          {{ description }}
        </p>
      {% endif %}
    </div>
  </div>
</header>

<section class="prose py-12 px-[5%]">
  <div class="container mx-auto">
    <div class="max-w-4xl mx-auto">
      <article class="prose">
        {{ content }}
      </article>
    </div>
  </div>
</section>
{% if ctaTitle %}
  {% render 'partials/cta-section',
    title: ctaTitle,
    description: ctaDescription,
    buttonText: ctaButtonText,
    buttonUrl: ctaButtonUrl,
    variant: 'centered',
    ctaIcon: ctaIcon
  %}
{% endif %}
