{% if text == 'Contact' %}
  <a
    href="mailto:hello@omaralmasry.com"
    class="button flex items-center bg-primary text-inverted font-medium rounded-full shadow-low no-underline transition duration-300 hover:bg-lapis-light dark:bg-primaryInverted dark:text-normal dark:hover:bg-amber-light dark:shadow-lowInverted relative z-0 overflow-hidden group
      {% if navCompact %}
        px-4 py-2 text-base sm:px-6 sm:py-3 sm:text-lg
      {% else %}
        px-6 py-3 text-lg
      {% endif %}"
    aria-label="Contact"
  >
    <span class="relative z-10 flex items-center">
      <span>{{ text }}</span>
      <span class="{% if navCompact %}ml-1.5 sm:ml-2{% else %}ml-2{% endif %}">
        {{ icon }}
      </span>
    </span>
  </a>
{% else %}
  <a
    href="#"
    class="button flex items-center px-6 py-3 bg-primary text-lg text-inverted font-medium rounded-full shadow-low no-underline transition duration-300 hover:bg-lapis-light dark:bg-primaryInverted dark:text-normal dark:hover:bg-amber-light dark:shadow-lowInverted relative overflow-hidden group"
  >
    <span class="relative z-10 flex items-center">
      <span>{{ text }}</span>
      {% if icon %}
        <span class="ml-2">{{ icon }}</span>
      {% endif %}
    </span>
  </a>
{% endif %}
