{% if text == 'Contact' %}
  <a
    href="mailto:hello@omaralmasry.com"
    class="button flex items-center mr-auto ml-auto px-6 py-3 bg-primary text-lg text-inverted font-medium rounded-full shadow-low no-underline transition duration-300 dark:bg-primaryInverted dark:text-normal dark:shadow-lowInverted relative z-0 overflow-hidden group"
    aria-label="Contact"
  >
    <span class="relative z-10 flex items-center">
      <span>{{ text }}</span>
      <span class="ml-2">
        {{ icon }}
      </span>
    </span>
  </a>
{% else %}
  <a
    href="#"
    class="button flex items-center px-6 py-3 bg-primary text-lg text-inverted font-medium rounded-full shadow-low no-underline transition duration-300 dark:bg-primaryInverted dark:text-normal dark:shadow-lowInverted relative overflow-hidden group"
  >
    <span class="relative z-10 flex items-center">
      <span>{{ text }}</span>
      {% if icon %}
        <span class="ml-2">{{ icon }}</span>
      {% endif %}
    </span>
  </a>
{% endif %}
