<section class="pt-24 pb-12 px-[5%]">
  <div class="max-w-4xl mx-auto">
    <!-- Main Heading -->
    <h1
      id="{{ mainTitleId | default: 'pageTitle' }}"
      class="mb-4 js-colorful-heading {{ mainTitleClass | default: '' }}"
    >
      {{ headerTitle | default: 'Lorem ipsum' }}
    </h1>
    {% if headerSubtitle %}
      <!-- Supporting Text -->
      <p class="text-xl sm:text-3xl text-normalLight max-w-2xl ml-0 leading-tight dark:text-invertedLight">
        {{
          headerSubtitle
          | default: 'Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat.'
        }}
      </p>
    {% endif %}
  </div>
</section>
