<section class="py-12">
  <div class="max-w-4xl mx-auto px-[5%]">
    <h3 class="mb-10 text-lg text-center text-normalLight dark:text-invertedLight font-medium">
      Companies I've worked with
    </h3>
    <div class="flex flex-wrap justify-center gap-x-4 gap-y-6 sm:grid sm:grid-cols-5 sm:gap-8 sm:items-center sm:justify-items-center">
      <div class="flex justify-center items-center w-[44%] h-[72px] sm:h-auto sm:w-auto">
        <img
          class="max-w-[85px] sm:max-w-[90px] object-contain dark:hidden"
          src="/images/duba-holding-logo-2.svg"
          alt="Dubai Holding Logo"
        >
        <img
          class="hidden dark:block max-w-[85px] sm:max-w-[90px] object-contain"
          src="/images/dubai-holding-logo-inverted.avif"
          alt="Dubai Holding Logo"
        >
      </div>
      <div class="flex justify-center items-center w-[44%] h-[72px] sm:h-auto sm:w-auto">
        <picture>
          <source srcset="/images/visit-hatta-logo.webp" type="image/webp">
          <source srcset="/images/visit-hatta-logo.png" type="image/png">
          <img
            class="max-w-[66px] sm:max-w-[75px] object-contain dark:hidden"
            src="/images/visit-hatta-logo.webp"
            alt="Visit Hatta Logo"
          >
        </picture>
        <img
          class="hidden dark:block max-w-[42px] sm:max-w-[45px] object-contain"
          src="/images/hatta-logo-white.svg"
          alt="Visit Hatta Logo"
        >
      </div>
      <div class="flex justify-center items-center w-[44%] h-[72px] sm:h-auto sm:w-auto">
        <picture>
          <source srcset="/images/bay-square-logo.webp" type="image/webp">
          <source srcset="/images/bay-square-logo.png" type="image/png">
          <img
            class="max-w-[66px] sm:max-w-[75px] object-contain"
            src="/images/bay-square-logo.webp"
            alt="Bay Square Logo"
          >
        </picture>
      </div>
      <div class="flex justify-center items-center w-[44%] h-[72px] sm:h-auto sm:w-auto">
        <img
          class="max-w-[85px] sm:max-w-[90px] object-contain dark:hidden"
          src="/images/nakheel-logo.svg"
          alt="Nakheel Logo"
        >
        <img
          class="hidden dark:block max-w-[85px] sm:max-w-[90px] object-contain"
          src="/images/nakheel-logo-white.svg"
          alt="Nakheel Logo"
        >
      </div>
      <div class="flex justify-center items-center w-[44%] h-[72px] sm:h-auto sm:w-auto">
        <img
          class="max-w-[85px] sm:max-w-[90px] object-contain dark:hidden"
          src="/images/emplifi-logo.svg"
          alt="Emplifi Logo"
        >
        <img
          class="hidden dark:block max-w-[85px] sm:max-w-[90px] object-contain"
          src="/images/emplifi-logo-white.svg"
          alt="Emplifi Logo"
        >
      </div>
    </div>
  </div>
</section>
